@charset "utf-8";

* { -webkit-user-select: none; }

body {
   margin: 0;
   padding: 0;
   color: #ccc;
	 font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
	 font-weight: 300;
	 line-height: 1.625;
   overflow: hidden;
    background-color: #005368;
   /* background-color: #ffff00; */
   
   overflow: hidden;
}

#content {
   background: -moz-linear-gradient(top, #068, #005368);
   background: -webkit-linear-gradient(top, #068, #005368);
   position: absolute;
   top: 10px;
   left: 10px;
}


#model1 {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3px;
  display: block;
  z-index: 10;
}

.close-button {
  -webkit-transform: rotate(360deg); /* Chrome & Safari */
  background: url("../images/buttons/close.png") 0 0 no-repeat;
  width: 52px;
  height: 52px;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  outline: none;
}

.help-button {
  -webkit-transform: rotate(360deg); /* Chrome & Safari */
  background: url("../images/buttons/hint.png") 0 0 no-repeat;
  width: 83px;
  height: 83px;
  border: none;
  position: fixed;
  bottom: 200px;
  right: 220px;
  outline: none;
}

#model-frame {
  width: 100%;
  height: 100%;
  border: none;
}

