@charset "utf-8";

* { 
   -webkit-user-select: none; 
   -webkit-tap-highlight-color: rgba(0,0,0,0);    
}
 /*calling the toolbars by their ids instead of using .toolbar for class toolbar, as now we have two toolbars */ 
#selection-toolbar {
   background-color: rgba(22, 49, 79, 0);
   border-radius: 15px;
   /* border: 2px solid white; */
   position: absolute;
   bottom: 50px;
   left: 10px;
   text-align: center;
   padding: 2px;
   width: 460px;
   z-index: 2;
}

#selection-toolbar button {
   background-color: rgb(0, 0, 0);
   outline: none;
   border: 2px solid white;
   width: 83px;
   height: 53px;
   border-radius: 2px;
   margin-left: 5px;
   margin-right: 25px;
   margin-top: 5px;
   margin-bottom: 5px;
   display: inline-block;
 }

#slider-toolbar {
   position: absolute;
   bottom: 25px;
   left: 10px;
   text-align: center;
   padding: 2px;
   width: 230px;
   z-index: 2;
   background-color: #005368;
}

/* component value sliders */
input {
   -webkit-appearance: none;
   -moz-appearance: none;
   width: 85px;
   height: 14px;
   background-color: rgba(255, 255, 255, 0.5);
   margin-left: 5px;
   margin-right: 20px;
   margin-top: 5px;
   margin-bottom: 5px;
   border-radius: 25px;
   box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.2);
   outline: none;
}

input::-webkit-slider-thumb {
   -webkit-appearance: none !important;
   width: 20px;
   height: 20px;
   border-radius: 16px;
   margin-top: 1px;
   background-color: rgba(255, 255, 255, 0.8);
   box-shadow: inset -2px -3px 3px rgba(0, 0, 0, 0.5);
   outline: none;
}


#values {
   position: absolute;
   background-color: transparent;
   bottom: 5px;
   left: 10px;
   text-align: center;
   padding: 2px;
   width: 460px;
   z-index: 2;
  }
  
 #values p {
   background-color: transparent;
   margin-left: 5px;
   margin-right: 20px;
   margin-top: 5px;
   margin-bottom: 0px;
   width: 83px;
   display: inline-block; 
   } 

#edition-toolbar {
   background-color: rgba(22, 49, 79, 0);
   /* border-radius: 15px;
    border: 2px solid white; */
   position: absolute;
   bottom: 20px;
   right: 450px;
   text-align: center;
   padding: 1px;
   width: 200px;
   z-index: 2;
}

#edition-toolbar button {
   background-color: none;
   padding: none;
   outline: 0px;
   border: none;
   width: 71px;
   height: 70px;
   margin-left: 5px;
   margin-right: 5px;
   margin-top: 5px;
   margin-bottom: 5px;
   display: inline-block;
 }
#reset-button {
  background: url("../images/buttons/restart.png") 0 0 no-repeat;
}
#reset-button:active
 { 
   background-position: 2px 2px; 
   border: #005368;
   padding: none;
 }
#help-button {
  background: url("../images/buttons/help.png") 0 0 no-repeat;
}
#help-button:active
 { 
   background-position: 2px 2px; 
   border: #005368;
   padding: none;
 }

/* BUTTONS FOR SELETION TOOLBAR */
#battery-button {
   background: url("../images/buttons/battery3t.png") 0 0 no-repeat;
}
/* battery-button:active { background-position: 3px 3px; } */

#wire-button {
   background: url("../images/buttons/wire.png") 0 0 no-repeat;
}
/* #wire-button:active { background-position: 3px 3px; } */

#resistor-button {
   background: url("../images/buttons/resistor2t.png") 0 0 no-repeat;
}
/* #resistor-button:active { background-position: 3px 3px; } */

#bulb-button {
   background: url("../images/buttons/light-bulb-off-big.png") 0 0 no-repeat;
}
/* #bulb-button:active { background-position: 3px 3px; } */